<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.BoardMapper">
	<sql id="criteria">
		<trim prefix="(" suffix=") and " prefixOverrides="OR">
			    	<foreach item="type" collection="typeArr">
			    		<trim prefix="OR">
			    			<choose>
			    				<when test="type== 'T'.toString()">
			    					title like '%'||#{keyword}||'%'
			    				</when>
			    				<when test="type== 'C'.toString()">
			    					content like '%'||#{keyword}||'%'
			    				</when>
			    				<when test="type== 'W'.toString()">
			    					writer like '%'||#{keyword}||'%'
			    				</when>
								<when test="type== 'D'.toString()">
			    					id =#{keyword}
			    				</when>
			    			</choose>
			    		</trim>
			    	</foreach>
		    </trim>
	</sql>


	<select id="getBoardList" resultType="com.green.vo.BoardVO">
		select * from big_tree_board
	</select>
	<select id="getBoard" resultType="com.green.vo.BoardVO">
		select*from big_tree_board where bno=#{bno}
	</select>
	<insert id="registBoard">
		insert into big_tree_board(bno,title,content,writer,id ) values 
			(board_seq.nextval,#{title},#{content},#{writer},#{id})
	</insert>
	<delete id="deleteBoard">
		delete big_tree_board where bno=#{bno}
	</delete>
	<update id="updateBoard">
		update big_tree_board 
			set title =#{title}, content=#{content}, updateDate=sysdate
				where bno = #{bno}
	</update>
	
	<select id="getBoardListWithPage" resultType="com.green.vo.BoardVO">
		<![CDATA[
			select bno,title,content,writer,regDate,updateDate,replyCnt,views,report
				from( select rownum rn,bno,title,content,writer,regDate,updateDate,replyCnt,views,report
					from (select*from big_tree_board order by bno desc)
						where 
				]]>	
				<if test="keyword !=null">	
				<include refid="criteria"></include>
				</if>
				<![CDATA[	
						rownum <=#{pageNum} * #{amount}  )
					where rn > (#{pageNum}-1) * #{amount} 
				]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
				<![CDATA[
			select count(*)
				from( select rownum rn,bno,title,content,writer,regDate,updateDate,replyCnt,views,report
					from (select*from big_tree_board order by bno desc)
						where 
				]]>	
				<if test="keyword !=null">	
				<include refid="criteria"></include>
				</if>
				<![CDATA[	
						rownum > 0  )
					where rn > 0
				]]>
	</select>

	<update id="updateViews">
		update big_tree_board 
			set views= views+1
				where bno = #{bno}
	</update>
	
	<select id="popularViews" resultType="com.green.vo.BoardVO">
	 <![CDATA[
	 select * from(select bno,title,views from big_tree_board  where views>10 order by views desc) where ROWNUM<=5
	 ]]>
	</select>
	
	
</mapper>
