<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.MemberMapper">
	<select id="login" resultType="int">
		select count(user_id) from big_tree_member where user_id = #{user_id} and user_pwd = #{user_pwd}
	</select>
	<select id="kakaologin" resultType="int">
		select count(user_id) from big_tree_member where user_kakao=#{user_kakao}
	</select>
	<insert id="signup">
	insert into big_tree_member (user_num, user_name, user_id, user_pwd, user_address, user_phone, user_email,user_birth,user_kakao)
	values(member_seq.nextval,#{user_name},#{user_id},#{user_pwd},#{user_address},#{user_phone},#{user_email},#{user_birth},#{user_kakao})
	</insert>
	<select id="info" resultType="com.green.vo.MemberVO">
		select * from big_tree_member where user_id = #{user_id} and user_pwd = #{user_pwd}
	</select>
	<select id="kakaoinfo" resultType="com.green.vo.MemberVO">
		select * from big_tree_member where user_kakao=#{user_kakao}
	</select>
	<select id="getMember" resultType="com.green.vo.MemberVO">
		select * from big_tree_member where user_num=#{user_num}
	</select>
	<select id="findId" resultType="com.green.vo.MemberVO">
		select user_id from big_tree_member where user_name = #{user_name} and user_phone = #{user_phone}
	</select>
	<select id="findPwd" resultType="com.green.vo.MemberVO">
		select * from big_tree_member where user_id = #{user_id} and user_name = #{user_name} and user_phone = #{user_phone}
	</select>
	<update id="updatePwd">
		update big_tree_member set user_pwd=#{user_pwd} where user_id=#{user_id}
	</update>
	<select id='idChk' resultType="int">
		select count(*) from big_tree_member where user_id=#{user_id}
	</select>
	<select id='phnChk' resultType="int">
		select count(*) from big_tree_member where user_phone=#{user_phone}
	</select>
	<select id='kakaoChk' resultType="int">
		select count(*) from big_tree_member where user_kakao=#{user_kakao}
	</select>
	<select id="findFrd" resultType="com.green.vo.MemberVO">
		select * from big_tree_member where user_id = #{user_id}
	</select>
	
	<update id="modify">
		update big_tree_member set user_address=#{user_address}, user_phone=#{user_phone}
			,user_email=#{user_email},user_birth=#{user_birth},user_profileImage=#{user_profileImage} 
				where user_num=#{user_num}
	</update>
	
	<select id="getImage" resultType="string">
		select user_profileImage from big_tree_member where user_id=#{user_id}
	</select>
</mapper>