<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.RecommendedMapper">
	<insert id= "registRecommended">
		insert into big_tree_recommended (bno,userName,likeCnt,hateCnt) 
			values(#{bno},#{userName},#{likeCnt},#{hateCnt})
	</insert>
	<update id= "updateRecommended">
		update big_tree_recommended set likeCnt=#{likeCnt} , hateCnt=#{hateCnt} where userName=#{userName} and bno=#{bno}
	</update>
	<select id="getRecommendList" resultType="com.green.vo.RecommendedVO">
		select*from big_tree_recommended where bno=#{bno}
	</select>
	<select id="getRecommended" resultType="com.green.vo.RecommendedVO">
		select*from big_tree_recommended where bno=#{bno} and userName=#{userName}
	</select>
	
	<select id="getTotalLike" resultType="int">
		select sum(likeCnt) from big_tree_recommended where bno=#{bno}
	</select>
	<select id="getTotalHate" resultType="int">
		select sum(hateCnt) from big_tree_recommended where bno=#{bno} 
	</select>
	
</mapper>