<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.ReplyMapper">
	<insert id="insert">
		insert into big_tree_reply(rno ,bno, reply, replyer,replyerId)
			values (reply_seq.nextval, #{bno},#{reply},#{replyer},#{replyerId})
	</insert>
	<select id="read" resultType="com.green.vo.ReplyVO"> 
		select * from big_tree_reply where rno = #{rno}
	</select>
	<update id="update" >
		 update big_tree_reply set reply= #{reply},
		 	updateDate = sysdate where rno = #{rno}
	</update>
	<delete id="delete">
		delete from big_tree_reply where rno = #{rno}
	</delete>
	<delete id="deletewithBoard">
		delete from big_tree_reply where bno = #{bno}
	</delete>
	
	<select id="getListWithPaging" resultType="com.green.vo.ReplyVO">
	<!-- select rno,bno,reply,replyer,replyDate,updateDate
	form big_tree_reply
	where bno =#{bno}
	order by rno asc -->

		<![CDATA[
			select rno ,bno ,rno ,reply,replyer,replyerId,replyDate,updateDate
				from 
				(    select /*+ index(big_tree_reply idx_reply) */
				    rownum rn ,bno ,rno ,reply,replyer, replyerId,replyDate,updateDate
				        from big_tree_reply
				    where bno = #{bno} and rno>0
				        and rownum <=#{cri.pageNum} * #{cri.amount}
				 ) where rn >(#{cri.pageNum}-1) * #{cri.amount}
       ]]>
	</select>
	<select id="getCountByBno" resultType="int">
	<![CDATA[
	select count(rno) from big_tree_reply where bno=#{bno}
	]]>
	</select>
	
</mapper>